<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>./classes/</directory>
            <directory>./components/</directory>
            <directory>./locales/</directory>
            <directory>./themes/</directory>
            <file>./index.php</file>
        </include>
    </coverage>
</phpunit>