<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutOutputDuringTests="true"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./classes/</directory>
            <directory>./components/</directory>
            <file>./autoload.php</file>
            <file>./ide-helper.php</file>
            <file>./index.php</file>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>